
html, body {
    height: 99%;
    margin: 0;
}

#map-id {
    height: 99%;
}

.options-window {
    position: relative;
    text-align: right;
}

.options-window .fond {
    background: lightskyblue;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 5px;
}

.options-window .content {
    padding: 5px;
}